.main-flex-container{
  display: flex;
  flex-direction: column;
}

/* Navbar css */
.navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
}

.yt-logo{
  height: 50px;
  cursor: pointer;
}

.searchContainer{
  display: flex;
  align-items: center;
}

.searchBar{
  height: 30px;
  width: 600px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  margin: 5px;
  padding-left: 2%;
  border: 1px solid #666;
}

.searchButton{
  height: 34px;
  width: 90px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: #f8f9fa;
  margin: -7px;
  border: 1px solid #666;
}

input{
  height: 35px;
  width: 900px;
  border-radius: 25px;
}

.signInButton{

}

.page{
  display: flex;
  height: 100vh;
}

.sidebar{
  width: 20%;
}

.sidebar button{
  display: block;
  height: 30px ;
  width: 98%;
  background-color: rgb(230, 227, 227);
  border: none;
  border-radius: 5px;
  margin: 1px;
}

.main{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

/* Card CSS */
.card{
  display: flex;
  width: 30%;
  flex-direction: column;
  border: 1px solid black;
  margin: 10px;
}

.card-body{
  display: flex;
}

.card-text{
  display: flex;
  flex-direction: column;
}

/* Image CSS */

.thumbnail{
  height: 200px;
  border-radius:20px;
}

.channelImage{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid black;
  margin: 5px;
}

/* ---------------------Video Page CSS-------------------- */

.videoPage{
  display: flex;
}

.videoItem{
  width: 65%;
}

.suggestionBar{
  width: 30%;
  margin: 20px;
  background-color: green;
}

.iframe-video{
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 2%;
  margin: 10px;
}

/* Description */

.description{
  display: flex;
  height: 30px;
  align-items: center;
  margin:30px;
}

.subscribe-button{
  background-color:black;
  height: 50px;
  width: 100px;
  color: white;
  border-radius: 25px;
  font-weight: 200;
  margin: 10px;
}

/* Suggestion Card CSS */

.suggestion-card{
  display: flex;
}

.suggestion-thumbnail{
  height: 100px;
  margin: 10px;
  border-radius: 5%;
}